img {
  max-width: 60px;
}

fieldset {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  white-space: nowrap;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: end;
  border-bottom: 1px solid black;
  padding: 5px;
}
input {
  flex-shrink: 1;
}
